body{
  background: #333;
  background-attachment: scroll;
}
#login-secao{
  margin-top: 10px;
  background:url(../../../assets/download2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px;
  min-width: 100%;



}
.container{
  position: relative;
  top: 200px;
  left: 400px;
}
h4{
  color: aliceblue;
}
