
<head>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
  crossorigin="anonymous">

</head>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a  class="navbar-brand" href="#">Lista de Compras </a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="ativar-conta" routerLink="/ativar-conta" routerLinkActive="active" >Ativar Conta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="registrar" routerLink="/registrar" routerLinkActive="active">Registrar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="login" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
    </ul>
  </div>
</nav>
<!-- home seçao -->
<div class="bg-black">

  <header id="home-secao">
    <div class="dark-overlay">
      <div class="home-inner container">
          <div class="row">
            <div class="col-lg-8 d-none d-lg-block">
              <h1 class="dislplay-4">Construa sua propria <strong>lista de compras</strong> e gerencie ela mesmo !</h1>
              <div class="d-flex">
                <div class="p-4 align-self-start">
                  <i class="fas fa-check fa-2x"></i>
                </div>
                <div class="p-4 align-self-end">
                  bananinha
                </div>
              </div>

              <div class="d-flex">
                <div class="p-4 align-self-start">
                  <i class="fas fa-check fa-2x"></i>
                </div>
                <div class="p-4 align-self-end">
                  bananinha2
                </div>
              </div>

              <div class="d-flex">
                <div class="p-4 align-self-start">
                  <i class="fas fa-check fa-2x"></i>
                </div>
                <div class="p-4 align-self-end">
                  bananinha3
                </div>
              </div>
            </div>
            <!-- cadastro do usuario -->
            <div class="col-lg-4">
              <registrar></registrar>
            </div>

          </div>
      </div>
    </div>
  </header>

</div>
