
<head>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
  crossorigin="anonymous">

</head>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a  class="navbar-brand" href="#">Lista de Compras </a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sobre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/registrar" routerLinkActive="active">Registrar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="login" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
    </ul>
  </div>
</nav>
<!-- home seçao -->
<div class="bg-black">

  <header id="home-secao">
    <div class="dark-overlay">
      <div class="home-inner container">
          <div class="row">
            <div class="col-lg-8 d-none d-lg-block">
              <h1 class="dislplay-4">Construa sua propria <strong>lista de compras</strong> e gerencie ela mesmo !</h1>
              <div class="d-flex">
                <div class="p-4 align-self-start">
                  <i class="fas fa-check fa-2x"></i>
                </div>
                <div class="p-4 align-self-end">
                  bananinha
                </div>
              </div>

              <div class="d-flex">
                <div class="p-4 align-self-start">
                  <i class="fas fa-check fa-2x"></i>
                </div>
                <div class="p-4 align-self-end">
                  bananinha2
                </div>
              </div>

              <div class="d-flex">
                <div class="p-4 align-self-start">
                  <i class="fas fa-check fa-2x"></i>
                </div>
                <div class="p-4 align-self-end">
                  bananinha3
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="card bg-success text-center card-form">
                <div class="card-body">
                  <h3>Se inscreva hoje!</h3>
                  <p>Por favor preencha este formulario</p>
                  <form>
                    <div class="form-group">
                      <input type="text" class="form-control form-control-lg" placeholder="Usuario">
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control form-control-lg" placeholder="Email">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-lg" placeholder="Senha">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-lg" placeholder="Confirme a senha">
                    </div>
                    <input type="submit" value="Inscreva-se" class="btn btn-outline-light btn-block">
                    <a href="#">Já é inscrito? Clique Aqui</a>
                  </form>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </header>

</div>
