<div class="container">
  <div class="col-lg-4  ">
    <div class="card bg-success text-center card-form">
      <div class="card-body">
        <form>
          <h4>Para ativar sua conta</h4>
          <p>Insira o código enviado para o seu Email, respeitando as letras Maiúsculas e Minúsculas</p><hr>
          <div class="form-group">
            <input type="text" class="form-control form-control-lg" placeholder="Insira o codigo">
          </div>
          <input type="submit" value="Ativar Conta" class="btn btn-outline-light btn-block">
        </form>
      </div>
    </div>
  </div>
</div>
